@import "../../../styles/variables.scss";

.blog {
  &__post-container {
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 0px 10px 3px rgba($color-black, 0.14);
    margin-bottom: 3rem;
  }

  &__title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  &__title {
    text-transform: uppercase;
    margin-right: 2rem;
    flex-grow: 1;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  &__title-date {
    font-size: 2rem;
    font-weight: 500;
    margin: auto 0 0 0;
    padding-bottom: 0.1rem;
  }

  &__title-divider {
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: $color-primary;
    box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.24);
  }

  &__content {
    width: 100%;

    span {
      font-weight: 400;
      transition: color 0.11s ease-in;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
