@import "../../../styles/variables.scss";

.blog {
  &__post-container {
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 0px 10px 3px rgba($color-black, 0.14);
    margin-bottom: 3rem;
    transform: scale(1);
    transition: all 0.24s cubic-bezier(0.14, 0, 0.93, 1);
    transform: rotate(0.01deg) scale(1);
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 3px 5px 5px rgba($color-black, 0.07);
      transition: all 0.72s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__title-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    flex-grow: 1;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  &__title-date {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0 auto;
    color: rgba($color-black, 0.72);
    font-style: italic;
  }

  &__title-divider {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: $color-primary;
    box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.24);
  }

  &__content {
    width: 100%;

    span {
      font-weight: 400;
      transition: color 0.11s ease-in;
      cursor: pointer;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
