@import "../../../styles/variables.scss";

.service__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27rem;
  height: 20rem;
  margin: 4.5rem;

  &__heading {
    margin: 1rem 0 0 0;
  }

  &__description {
    line-height: 1.4;
    margin: 0 0 1rem 0;
  }

  &__more {
    margin: auto 0 0 0;
  }

  &__modal {
    position: relative;
    background-color: $color-white;
    padding: 2rem 5rem;
    animation: slideInLeft 0.72s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    width: 72rem;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    // justify-content: center;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 15rem;
      background-color: $color-primary;
      display: flex;
      align-items: center;
      justify-content: center;

      .svg-inline--fa {
        color: $color-white;
      }
    }

    &__heading {
      text-align: center;
      margin-top: 14rem;
      width: 100%;
    }

    &__content {
      margin-bottom: 2rem;
    }

    &__li {
      text-indent: 0;
    }

    &__btn {
      display: block;
    }
  }
}

.svg-inline--fa {
  color: $color-primary;
}
