@import "../../../styles/variables.scss";

.service__card {
  position: relative;
  margin: 2.5rem;
  cursor: pointer;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.5rem;
    height: 23rem;
    padding: 5rem 1rem;
    box-shadow: 0 0 0 0 rgba($color-black, 0.07);
    transform: rotate(0.01deg) scale(1);
    transition: all 0.24s cubic-bezier(0.14, 0, 0.93, 1);
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 3px 5px 5px rgba($color-black, 0.07);
      transition: all 0.72s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;

    &--animated {
      animation: cardAnimated 0.72s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    }
  }

  &__heading {
    margin: 1rem 0 1rem 0;
    line-height: 1;
  }

  &__description {
    line-height: 1.4;
    margin: 0 0 1rem 0;
  }

  &__more {
    margin: auto 0 1rem 0;
  }

  &__modal {
    position: relative;
    background-color: $color-white;
    padding: 2rem 5rem;
    animation: slideInLeft 0.72s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    width: 100%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 15rem;
      background-color: $color-primary;
      display: flex;
      align-items: center;
      justify-content: center;

      .svg-inline--fa {
        color: $color-white;
      }
    }

    &__heading {
      text-align: center;
      margin-top: 14rem;
      width: 100%;
    }

    &__content {
      margin-bottom: 2rem;
    }

    &__li {
      text-indent: 0;
      margin-bottom: 1rem;
    }

    &__btn {
      display: block;
      margin-bottom: 2rem;
    }
  }
}

.svg-inline--fa {
  color: $color-primary;
}
