@import "../../styles/variables.scss";

.input {
  font-size: inherit;
  padding: 0.75rem 1.25rem;
  margin: 0;
  width: 100%;
  border-radius: 2px;
  border: none;

  &:focus {
    outline: none;
  }

  &:focus + &__underline {
    transform: scale(1) translateY(-100%);
  }

  &__label {
    width: 100%;
    font-weight: 500;
  }

  &__textarea {
    resize: none;
  }

  &__underline {
    width: 100%;
    height: 4px;
    border-radius: 0 0 1px 1px;
    background-color: $color-primary;
    transform: scale(1, 0) translateY(-100%);
    transition: all 0.11s ease-out;
    &--error {
      background-color: $color-red;
      transform: scale(1) translateY(-100%);
    }
  }

  &__error {
    font-weight: 500;
    line-height: 1;
    color: $color-red;
  }
}
