@import "../../styles/variables.scss";

.services {
  text-align: center;
  // min-height: calc(100vh - 5rem);
  width: 100vw;

  &__heading-container {
    flex: 0 0 100%;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__heading {
    display: inline-block;
    font-size: 4rem;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 2px;
      background-color: $color-primary;
      top: 50%;
    }

    &::before {
      left: -12rem;
    }

    &::after {
      right: -12rem;
    }
  }
}
