@import "../../styles/variables.scss";

.mailing {
  background-color: $color-black-light;
  color: $color-white;

  &__half {
    width: 50%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(tab-small) {
      width: 100%;
    }
  }

  &__heading {
    color: $color-primary;
    width: 100%;
  }

  &__content {
  }

  &__agreement {
    color: rgba($color-white, 0.42);
    width: 72%;
    margin: 0 0 0 auto;

    @include respond(tab-small) {
      margin: 0 auto;
    }
  }

  &__content-wrapper {
    text-align: right;

    @include animateInRight;

    @include respond(tab-small) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    @include animateInLeft;
  }

  &__input {
    &--half {
      width: 50%;
      padding: 0 1rem;
    }

    &--full {
      width: 100%;
      padding: 1rem;
    }
  }

  &__join {
    margin: 1rem 0 0 1rem;
    width: 15rem;

    @include respond(tab-small) {
      margin: 1rem auto;
    }
  }

  &__posted {
    color: $color-primary;
    font-weight: 500;
    width: 100%;
    margin: 1rem 0 0 1rem;
    opacity: 0;
    animation: slideUp 0.11s ease-in-out forwards;
  }
}
