@import "./variables.scss";

//hover effects
.hover__white-primary {
  color: $color-white;
  transition: all 0.11s cubic-bezier(0.86, 0, 0.07, 1);

  &:hover {
    color: $color-primary;
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(21rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(18rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes mobileNav {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRightOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes drawerOpen {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes drawerClose {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
