@import "./variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  position: relative;
  font-size: 62.5%; //makes 1rem = 10px
  background-color: $color-white;
  overflow-x: hidden;

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    // 1 rem = 8px, 8/16 = 50%
    font-size: 60%;
  }

  @include respond(tab-land) {
    // 1 rem = 9px,   9/16 = 56.25%
    font-size: 56.25%;
  }

  // @include respond(big-desktop) {
  //   // 1 rem = 12px,      12/16= 75%
  //   font-size: 75%;
  // }
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

//Fallback for mobile browsers that don't support
// overflow-x: hidden; from body tag.
.app {
  width: 100%;
  overflow-x: hidden;
}

//Remove the gray background on active links in IE 10.
a {
  &,
  &:link,
  &:visited {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
  }
}

//Remove border on images inside links in IE 10
img {
  border-style: none;
}

//Change the font in all browsers
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  margin: 0;
}
