//FORMATTING
.container {
  position: relative;
  width: 110rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &--not-rel {
    position: initial;
  }

  &--padding-3 {
    padding: 3rem 0;
  }

  &--padding-5 {
    padding: 5rem 0;
  }

  &--padding-10 {
    padding: 10rem 0;
  }

  &--full {
    min-height: 100vh;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &--nopos {
    position: static;
  }

  @include respond(small-desktop) {
    width: 95rem;
  }

  @include respond(tab-land) {
    width: 90rem;
  }

  @include respond(tab-port) {
    width: 70rem;
  }

  @include respond(tab-small) {
    width: 60rem;
  }

  @include respond(big-phone) {
    width: 50rem;
  }

  @include respond(phone) {
    width: 37rem;
  }

  @include respond(small-phone) {
    width: 31rem;
  }

  @include respond(big-desktop) {
    width: 130rem;
  }
}
