//MEDIA QUERY VARIABLES
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }

  @if $breakpoint == tab-small {
    @media only screen and (max-width: 700px) {
      @content;
    } // 700px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }

  @if $breakpoint == small-desktop {
    @media only screen and (max-width: 93.75em) {
      @content;
    } //1500px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

//FORMATTING
.container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &--padding-3 {
    padding: 3rem 0;
  }

  &--padding-5 {
    padding: 5rem 0;
  }

  &--padding-10 {
    padding: 10rem 0;
  }

  &--full {
    min-height: 100vh;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &--nopos {
    position: static;
  }

  @include respond(small-desktop) {
    width: 900px;
  }

  @include respond(tab-land) {
    width: 750px;
  }

  @include respond(tab-port) {
    width: 600px;
  }

  @include respond(tab-small) {
    width: 450px;
  }

  @include respond(phone) {
    width: 350px;
  }

  @include respond(big-desktop) {
  }
}
