//COLORS
// $color-primary: #2eb16e;
// $color-primary-light: #57bd7d;
// $color-primary-dark: #34995e;
$color-primary: #2eb16e;
$color-primary-light: #2dbd73;
$color-primary-dark: #27a564;

$color-red: #c40000;

$color-white: #fcfcfc;

$color-grey: #464646;
$color-grey-light: #808080;
$color-grey-dark: #373636;

$color-black: #15171f;

//FONT SIZE
$baseFontSize: 1.6rem;
