@import "../../../styles/variables.scss";

.hero-nav {
  position: absolute;
  height: 7.5rem;
  width: 100%;
  z-index: 100;
  color: $color-white;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__ul {
    list-style: none;
  }

  &__li {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 2rem;
    font-size: 2rem;
    position: relative;

    &--active {
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
