@import "../../styles/variables.scss";

.hero {
  height: 100vh;

  &__background {
    background-image: linear-gradient(
        to bottom,
        rgba($color-black, 0.94),
        rgba($color-black, 1)
      ),
      url(./assets/bill-closeup.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    width: 100%;
    color: $color-primary;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 10rem;
    line-height: 1.2;
  }

  &__subtitle {
    width: 100%;
    color: $color-white;
    text-transform: uppercase;
    font-size: 2.7rem;
    letter-spacing: 2rem;
    margin-bottom: 2rem;
  }
}
