@import "../../../styles/variables.scss";

.contact__form {
  display: flex;
  flex-wrap: wrap;
  // background-color: $color-primary;
  padding: 1rem;

  &__input {
    &--half {
      width: 50%;
      padding: 0 1rem 1rem 1rem;
    }

    &--full {
      width: 100%;
      padding: 0 1rem;
    }

    &--bg {
      background-color: rgba($color-black, 0.07);
      box-shadow: 0 0 1px 1px rgba($color-black, 0.11);
    }
  }

  &__submit {
    margin: 1rem 0 0 1rem;
  }
}
