@import "../../../styles/variables.scss";

.contact__form {
  display: flex;
  flex-wrap: wrap;
  // padding: 1rem;
  color: $color-white;

  &__input {
    &--half {
      width: 50%;
      padding: 0 1rem 1rem 1rem;
    }

    &--full {
      width: 100%;
      padding: 0 1rem;
    }
  }

  &__submit {
    letter-spacing: 0.24rem;
    padding: 1rem 3rem;
    margin: 2rem auto 0 auto;
  }

  &__posted {
    width: 100%;
    text-align: center;
    color: $color-primary;
    animation: slideInLeft .42s ease forwards;
    margin-top: 1rem;
  }
}
