@import "../../styles/variables.scss";

.header {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 7rem;
  background-color: $color-black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__line {
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    align-self: flex-start;
  }

  &__container {
    height: 100%;
  }

  &__logo {
    margin-right: auto;
    height: 3.5rem;
  }
}
