@import "../../../../styles/variables.scss";

.mobile-menu {
  &__wrapper {
    width: 100vw;
    height: 100vh;
    background-color: $color-black;
    z-index: 1500;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: $color-white;
    // font-weight: 500;
  }

  &__ul {
    list-style: none;
  }

  &__link {
    display: block;
    opacity: 0;
    transform: translateX(15rem);
    animation: drawerLinks 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation-delay: 0.4s;
    // transition: color 0.11s cubic-bezier(0.86, 0, 0.07, 1);
    margin-bottom: 3rem;

    &:nth-of-type(2) {
      animation-delay: 0.6s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.8s;
    }

    &:nth-of-type(4) {
      animation-delay: 1s;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__li {
    position: relative;
    display: block;
    transition: color 0.11s cubic-bezier(0.86, 0, 0.07, 1);

    &:hover {
      color: $color-primary;
    }

    .active & {
      &:hover {
        color: $color-white;
      }
    }

    &--active {
      &:hover {
        color: $color-white;
      }
      &::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 100%;
        background-color: $color-primary;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.active .mobile-menu__li {
  &::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background-color: $color-primary;
    bottom: 0;
    left: 0;
  }
}

@keyframes drawerLinks {
  0% {
    transform: translateX(15rem);
    opacity: 0;
  }

  80% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
