body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  width: 100%;
  overflow: hidden;
}

#preloader {
  color: red;
  position: absolute;
  background-color: #15171f;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}
