@import "../../../styles/variables.scss";

.desktop-menu {
  height: 100%;
  list-style: none;
  color: $color-white;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;

  @include respond(tab-small) {
    display: none;
  }
  // display: none;

  &__item {
    display: inline-block;
    margin-left: 3rem;
    transition: all 0.11s ease;

    &:hover {
      color: $color-primary;
    }

    &--active {
      position: relative;

      &:hover {
        color: $color-white;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        bottom: -1.45rem;
      }
    }
  }
}

.active .desktop-menu__item {
  position: relative;

  &:hover {
    color: $color-white;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-primary;
    bottom: -1.45rem;
  }
}
