@import "../../index.scss";

.dot-pattern {
  position: absolute;
  background-size: 11px 11px;
  opacity: 0.24;

  &--black {
    background: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
      <circle r="11" cx="100" cy="100" fill="black" />\
      </svg>'
    );
    background-size: 11px 11px;
  }

  &--white {
    background: url('data:image/svg+xml,\
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">\
      <circle r="11" cx="100" cy="100" fill="white" />\
      </svg>'
    );
    background-size: 11px 11px;
  }
}
