@import '../../../../styles/variables.scss';

.blog-posts {
  animation: slideInLeftGentle .72s ease forwards;
  &__excerpt {
    // margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    box-shadow: 0 0 .3rem .3rem rgba($color-black, 0.07);
    padding: 2rem;
    transition: all 0.42s ease;
    cursor: pointer;
    transform: translateX(0) scale(1) rotate(.01deg);

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 .5rem .5rem rgba($color-black, 0.11);
    }
  }

  &__title-container {
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-bottom: 0.24rem;
  }

  &__title-date {
    width: 100%;
    text-align: center;
    color: rgba($color-black, 0.42);
    font-style: italic;
    font-size: 1.6rem;
    font-weight: 400;
  }

  &__title-divider {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: $color-primary;
    margin: 0.5rem 0;
    box-shadow: 0rem 0.5rem 1rem rgba($color-black, 0.24);
  }

  &__content {
    text-indent: 2rem;
    position: relative;

    p span {
      font-weight: 700;

      &:hover {
        transition: color .24s ease;
        color: $color-primary;
      }
    }
  }
}
