@import "../../styles/variables.scss";

.about {
  // min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  min-height: 75vh;
  padding-top: 5rem;

  &__section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(tab-small) {
      width: 100%;
    }

    &--left {
      @include animateInRight;
    }
    &--right {
      @include animateInLeft;
    }
  }

  &__heading {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 4rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0.4rem;
      left: 50%;
      width: 12rem;
      height: 2px;
      background-color: $color-primary;
      transform: translateX(-50%);
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    transition: all 0.72s cubic-bezier(0.86, 0, 0.07, 1);
    &__wrapper {
      position: relative;
      height: 30rem;
      width: 30rem;
      overflow: hidden;

      @include respond(tab-small) {
        margin-bottom: 2rem;
      }

      &:hover {
        .about__img {
          transform: scale(1.04);
        }

        .about__img__content {
          transform: translateY(0);
        }
      }
    }

    &__content {
      position: absolute;
      width: 100%;
      height: 5rem;
      background-color: rgba($color-black, 0.72);
      bottom: 0;
      left: 0;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;

      transform: translateY(5rem);
      transition: all 0.72s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__text {
      color: $color-white;
    }
  }

  &__p {
    text-indent: 2rem;
    margin-bottom: 2rem;

    &:nth-child(1) {
      text-indent: 0;
      &::first-letter {
        font-weight: 700;
        font-size: 3.5rem;
        float: left;
        line-height: 0.7;
      }
    }

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
